---
import '../styles/base.css';

const { bubbles } = Astro.props;
---
<style>
    a {
      color: var(--color-text-base);
      text-decoration: none;
    }

    .bubbles {
      display: flex;
      flex-wrap: wrap;
    }

    .bubble {
      color: var(--color-text-base);
      background-color: var(--color-fill);
      border: dotted 1px;
      margin: 0.25em;
      border-radius: 0.5em;
      padding: .5em 1em;
      font-size: 1.15em;

    }
</style>
<div class="bubbles">
    {bubbles.map((bubble: string) => <p class="bubble">{bubble}</p>)}
</div>
